body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}
h2{
    color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Merriweather', serif;
  padding-bottom: 10px;
}
h3{
  color:#11999E;
  font-family: 'Merriweather', serif;
}
h4{
  color:#11999E;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.top-container{
  background-color: #A3D2CA;
  color: #66BFBF;
  position: relative;
  padding-top: 100px;
  font-size: 40px;
}
.middle-container{
  text-align: center;

}
.bottom-container{
  text-align: center;
  margin: 100px 0;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top: 40px;
}
.profile-pic{
  border-radius: 50%;
  width:200px;
  height:200px;
}
.computer-img{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right:30px;
}
.image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image2{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.jigsaw-img{
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.message{
  width: 40%;
  margin: 40px auto 60px;
}
.twitter{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.table{
padding-right: 300px;
margin-left: 30px;
}
.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
